QualityBot/Service References/MediaService/MediaShared.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MediaShared.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MediaShared.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Date">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateValue" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Date" nillable="true" type="tns:Date" />
  <xs:complexType name="Place">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="LatitudeValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="LongitudeValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaceId" type="xs:long" />
      <xs:element minOccurs="0" name="PlaceString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Place" nillable="true" type="tns:Place" />
</xs:schema>