QualityBot/Service References/MediaService/MediaServices.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MediaServices.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MediaServices.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/MediaServices.Data.Enums" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/MediaShared.Common.Utils" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/MediaShared.Data" />
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MediaBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Attributes" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MediaServices.Data.Enums" minOccurs="0" name="Category" type="q2:Category" />
      <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:long" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MediaShared.Common.Utils" minOccurs="0" name="FileType" type="q3:FileType" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MediaShared.Data" minOccurs="0" name="MediaDate" nillable="true" type="q4:Date" />
      <xs:element minOccurs="0" name="MediaId" type="ser:guid" />
      <xs:element minOccurs="0" name="MediaOwner" type="ser:guid" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MediaShared.Data" minOccurs="0" name="MediaPlace" nillable="true" type="q5:Place" />
      <xs:element minOccurs="0" name="OriginalOwner" type="ser:guid" />
      <xs:element minOccurs="0" name="SaveToken" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q6:ArrayOfstring" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaBase" nillable="true" type="tns:MediaBase" />
</xs:schema>