QualityBot/Service References/MediaService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/MediaServices.Data" />
  <xs:element name="MediaFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="ApplicationId" type="q2:guid" />
  <xs:element name="ContainerPath" nillable="true" type="xs:string" />
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="FileSize" type="xs:long" />
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MediaServices.Data" name="MediaMetaData" nillable="true" type="q3:MediaBase" />
  <xs:element name="SaveFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="MediaGuid" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>